In [1]:
import pandas as pd
import numpy as np

In [24]:
url="https://raw.githubusercontent.com/orrefo/Music/refs/heads/main/"

In [25]:
artist=pd.read_csv(url+"artist.csv",index_col=0)
artist=artist.drop_duplicates()

In [27]:
mapping=pd.read_csv(url+"mapping.csv",index_col=0)
mapping=mapping.drop_duplicates()

In [29]:
chart=pd.read_csv(url+"chart.csv",index_col=0)
chart=chart.drop_duplicates()

In [31]:
tracks=pd.read_csv(url+"tracks.csv",index_col=0)
tracks=tracks.drop_duplicates()

In [33]:
audio=pd.read_csv(url+"audio_1.csv",index_col=0)
audio=audio.drop_duplicates()

In [35]:
map_artist=pd.merge(mapping,artist,left_on='artist_id',right_on='artist_id',how='left')
artist_track=pd.merge(map_artist,tracks,left_on='track_id',right_on='track_id',how='left')
artist_track_audio=pd.merge(artist_track ,audio,left_on='track_id',right_on='track_id',how='left')
all=pd.merge(chart ,artist_track_audio ,left_on='track_id',right_on='track_id',how='left')

In [38]:
all=pd.merge(chart ,artist_track_audio ,left_on='track_id',right_on='track_id',how='left')

In [39]:
all.rename(columns={'name_x':'artist','name_y':'track_title'},inplace=True)

In [40]:
all['chart_week'] = pd.to_datetime(all['chart_week'], format='%Y-%m-%d', errors='coerce')

In [41]:
all[['release_year','del_1','del2']]=all['release_date'].str.split('-', expand=True)

In [42]:
all['duration_s']=round(all['duration_ms']/1000,0).astype('int')

In [43]:
all.drop(columns=['duration_ms','del_1', 'del2'], inplace= True)

In [44]:
all['release_year']=all['release_year'].astype('int')

In [45]:
all['explicit']=all['explicit'].astype('bool')

In [46]:
key_mapping = {
    0: "C",
    1: "C♯ / D♭",
    2: "D",
    3: "D♯ / E♭",
    4: "E",
    5: "F",
    6: "F♯ / G♭",
    7: "G",
    8: "G♯ / A♭",
    9: "A",
    10: "A♯ / B♭",
    11: "B"
}

In [47]:
all['key_mapped']=all['key'].map(key_mapping)

In [48]:
chart

        chart_week  list_position                track_id
0       2021-07-10             42  000TJlEJQ3nafsm1hBWpoj
1       2003-07-19             60  003FTlCpBTM4eSqYSWPv4H
2       2003-07-26             60  003FTlCpBTM4eSqYSWPv4H
3       2003-08-02             64  003FTlCpBTM4eSqYSWPv4H
4       2003-07-12             66  003FTlCpBTM4eSqYSWPv4H
...            ...            ...                     ...
129300  2004-04-17             74  7zywdG4ysfC5XNBzjQAo2o
129301  2004-08-07             80  7zywdG4ysfC5XNBzjQAo2o
129302  2004-08-14             81  7zywdG4ysfC5XNBzjQAo2o
129303  2004-08-21             82  7zywdG4ysfC5XNBzjQAo2o
129304  2004-08-28             83  7zywdG4ysfC5XNBzjQAo2o

[129305 rows x 3 columns]

In [49]:
all['score']=round((-15.79*np.log(all['list_position']+1)+88.06)*1.3,0).astype('int')

In [50]:
all.to_csv('all.csv')

In [52]:
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175529 entries, 0 to 175528
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   chart_week        175529 non-null  datetime64[ns]
 1   list_position     175529 non-null  int64
 2   track_id          175529 non-null  object
 3   artist_id         175529 non-null  object
 4   artist            175529 non-null  object
 5   popularity        175529 non-null  float64
 6   followers         175529 non-null  float64
 7   track_title       175529 non-null  object
 8   release_date      175529 non-null  object
 9   album_type        175529 non-null  object
 10  explicit          175529 non-null  bool
 11  danceability      175449 non-null  float64
 12  energy            175449 non-null  float64
 13  key               175449 non-null  float64
 14  loudness          175449 non-null  float64
 15  mode              175449 non-null  float64
 16  speechiness       175449 non-null  float64
 17  acousticness      175449 non-null  float64
 18  instrumentalness  175449 non-null  float64
 19  liveness          175449 non-null  float64
 20  valence           175449 non-null  float64
 21  tempo             175449 non-null  float64
 22  time_signature    175449 non-null  float64
 23  release_year      175529 non-null  int32
 24  duration_s        175529 non-null  int32
 25  key_mapped        175449 non-null  object
 26  score             175529 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(14), int32(3), int64(1), object(7)
memory usage: 33.0+ MB